<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="~{commonParts/common.html::header}">
</head>
<body>
<div>
    <div th:insert="~{commonParts/common.html::body}"></div>
    <div class="container">
        <p></p>
        <h2 th:text="${messages}"></h2>
        <h3 class="alert-danger" th:text="${error}"></h3>
    </div>

    <!--Order-->
    <div class="mt-4 p-3 bg-light rounded">
        <div class="d-flex justify-content-between align-items-center" th:if="${current_order != null}">
            <div class="mb-3">
                <h5>Ваш заказ</h5>
                <div th:if="${current_order != null}">
                    <p class="mb-1" th:text="'Количество позиций: ' + ${current_order.orderItems.size()}"></p>
                    <p class="mb-1" th:text="'Общая сумма: ' + ${order_total_price} + ' ₽'"></p>
                    <!-- Display order contents -->
                    <div th:each="item : ${current_order.orderItems}">
                        <span th:text="${item.menuItemDTO.name}"></span>
                        <span th:text="${item.quantity}"></span>
                    </div>
                </div>

            </div>
            <div class="d-flex gap-2">
                <form th:action="@{/order/completeOrder}" method="post">
                    <input type="hidden" name="username" th:value="${#authentication.getName()}">
                    <input type="hidden" name="menuId" th:value="${menu.id}">
                    <button type="submit" class="btn btn-success btn-lg">
                        <i class="bi bi-check-circle"></i> Подтвердить заказ
                    </button>
                </form>
                <form th:action="@{/order/dropOrder}" method="post">
                    <input type="hidden" name="menuId" th:value="${menu.id}">
                    <button type="submit" class="btn btn-danger btn-lg w-100"
                            onclick="return confirm('Вы уверены, что хотите отменить весь заказ?')">
                        <i class="bi bi-x-circle"></i> Отменить заказ
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!--    Adding new menuItem-->
    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
        <a class="btn btn-primary mt-3" data-bs-toggle="collapse" href="#addForm" role="button" aria-expanded="false"
           aria-controls="addForm">
            Форма добавления новых позиций
        </a>
        <div class="collapse" th:classappend="${isErrors != null} ? 'show'" id="addForm">
            <div class="col-md-5 mt-3" style="background-color: steelblue">
                <form class="py-3 px-3"
                      th:id="addForm" method="post" th:object="${new_menuItem}" th:action="@{/menu/menuItem/create}"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <input
                                class="form-control mb-2"
                                th:value="${new_menuItem.name}"
                                type="text" th:field="*{name}"
                                name="text"
                                required
                                placeholder="Введите название">
                        <input
                                class="form-control mb-2"
                                th:value="${new_menuItem.description}"
                                type="text" th:field="*{description}" name="text"
                                placeholder="Описание">
                        <input
                                class="form-control mb-2"
                                th:value="${new_menuItem.bju}"
                                type="text" th:field="*{bju}" name="text"
                                placeholder="БЖУ">
                        <input
                                class="form-control mb-2"
                                th:value="${new_menuItem.price}"
                                type="number" th:field="*{price}" name="text"
                                min="0"
                                oninput="this.value = Math.abs(this.value)"
                                placeholder="Цена">
                        <input type="hidden" name="menuId" th:value="${menu.id}">
                    </div>
                    <div class="form-group my-2">
                        <div class="custom-file">
                            <input class="btn btn-secondary" id="customFileInput" type="file" name="file">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary ms-2">Добавить</button>
                </form>
            </div>
        </div>
    </div>
    <!--********************************-->

    <!--    MenuItem List-->
    <div class="container-fluid py-4">
        <h2 class="text-center mb-4"></h2>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
            <div th:each="menuitem:${menuItemsList}" class="col">
                <div class="card h-100 shadow-sm">
                    <div th:if="${menuitem.pictureFileName != null}" class="card-img-container">
                        <img class="card-img-top img-fluid"
                             th:src="@{/upload/{filename}(filename = ${menuitem.pictureFileName})}"
                             alt="Menu image" style="object-fit: cover; height: 200px;">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title" th:text="${menuitem.name}"></h5>
                        <div class="card-body d-flex flex-column">
                            <div th:if="${menuitem.description != null}" class="mb-2">
                                <strong>Описание:</strong>
                                <p class="card-text text-muted mb-0" th:text="${menuitem.description}"></p>
                            </div>

                            <div th:if="${menuitem.bju != null}" class="mb-2">
                                <strong>БЖУ:</strong>
                                <p class="card-text text-muted mb-0" th:text="${menuitem.bju}"></p>
                            </div>

                            <div th:if="${menuitem.price != null}" class="mb-3">
                                <strong>Цена:</strong>
                                <p class="card-text text-muted mb-0" th:text="${menuitem.price + ' ₽'}"></p>
                            </div>


                            <form th:action="@{/order/addOrderItem}" method="post" class="me-2">
                                <input type="hidden" name="menuItemId" th:value="${menuitem.id}">
                                <input type="hidden" name="menuId" th:value="${menu.id}">
                                <div class="input-group input-group-sm" style="width: 120px;">
                                    <button class="btn btn-outline-secondary" type="button"
                                            onclick="this.parentNode.querySelector('input').stepDown()">-
                                    </button>
                                    <input type="number" name="quantity" value="1" min="1" max="10"
                                           class="form-control text-center" style="height: 31px;">
                                    <button class="btn btn-outline-secondary" type="button"
                                            onclick="this.parentNode.querySelector('input').stepUp()">+
                                    </button>
                                </div>
                                <button type="submit" class="btn btn-success btn-sm">
                                    <i class="bi bi-cart-plus"></i> В заказ
                                </button>
                            </form>


                            <form sec:authorize="hasAuthority('ROLE_ADMIN')"
                                  th:action="@{/menu/menuItem/delete}" method="post" class="d-inline">
                                <input type="hidden" name="menuId" th:value="${menu.id}">
                                <input type="hidden" name="menuItemId" th:value="${menuitem.id}">
                                <button th:text="x" type="submit" class="btn btn-outline-danger">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>